body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.avatar {
  max-width: 230px;
  max-height: 230px;
  border-radius: 10px;
}

.container {
  margin-top: 40px;
}

.title {
  text-align: center;
}

.repoList {
  position: absolute;
  bottom: 20px;
}
